* {
  /* border: 1px solid red; */
  font-family: sans-serif;
}

body {
  width: 98vw;
  height: 97vh;
  background-color: black;
}

header {
  width: 100%;
  height: 10%;
  padding-top: .5%;
  border-bottom: 5px solid black;
  font-size: 4em;
  text-align: center;
  background-image: linear-gradient(to right, black, white, black);
}

main {
  width: 100%;
  height: 90%;
  background-image: linear-gradient(to right, black, white, black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.human-section,
.computer-section {
  width: 15%;
  font-size: 2em;
  text-align: center;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.human-section {
  background-image: linear-gradient(white, blue);
}

.computer-section {
  background-image: linear-gradient(white, red);
}

.human-token-selector,
.computer-token-selector {
  width: 50%;
  height: 10%;
  font-size: 2em;
  text-align: center;
  margin-top: 3%;
}

.human-choice-icon,
.computer-choice-icon {
  font-size: 5em;
}

.change-game-button {
  width: 25%;
  height: 5%;
  border-radius: 10px;
}

.game-section {
  width: 70%;
  margin-top: 5%;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-option-section {
  width: 60%;
  height: 60%;
  font-size: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classic-button,
.twist-button {
  height: 10%;
  width: 30%;
  font-size: 1em;
  border-radius: 10px;
  transition: .5s;
}

.classic-button:hover,
.twist-button:hover,
.change-game-button:hover {
  background-color: #BCBCBC;
  box-shadow: 1px 1px 2px black;
}

.classic-game-section,
.twist-game-section {
  width: 75%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option {
  width: 19%;
  height: 40%;
  font-size: 3.5em;
  border-radius: 10px;
  background-color: #DBDBDB;
  transition: .3s;
}

.option:hover {
  transform: translateY(-10%);
  text-shadow: 3px 3px 2px black;
  box-shadow: 2px 2px 2px black;
}

.human-move-to-middle {
  animation: humanMoveToMiddle 3.5s;
}

.comp-move-to-middle {
  animation: compMoveToMiddle 3.5s;
}

.hidden {
  display: none;
}

@keyframes humanMoveToMiddle {
  0% {transform: translateX(0) translateY(0)}
  30% {transform: translateX(410%) translateY(-80%)}
  40% {transform: translateX(440%) translateY(-80%)}
  45% {transform: translateX(410%) translateY(-80%)}
  50% {transform: translateX(440%) translateY(-80%)}
  70% {transform: translateX(410%) translateY(-80%)}
  100% {transform: translateX(0) translateY(0)}
}

@keyframes compMoveToMiddle {
  0% {transform: translateX(0) translateY(0)}
  30% {transform: translateX(-410%) translateY(-80%)}
  40% {transform: translateX(-440%) translateY(-80%)}
  45% {transform: translateX(-410%) translateY(-80%)}
  50% {transform: translateX(-440%) translateY(-80%)}
  70% {transform: translateX(-410%) translateY(-80%)}
  100% {transform: translateX(0) translateY(0)}
}
