* {
  /* border: 1px solid red; */
  font-family: sans-serif;
}

body {
  width: 98vw;
  height: 97vh;
  background-color: black;
}

header {
  width: 100%;
  height: 10%;
  border-bottom: 5px solid black;
  font-size: 4em;
  text-align: center;
  background-image: linear-gradient(to right, black, white, black);
}

main {
  width: 100%;
  height: 90%;
  background-image: linear-gradient(to right, black, white, black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.human-section {
  background-image: linear-gradient(white, blue);
  width: 15%;
  font-size: 2em;
  text-align: center;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.human-token-selector,
.computer-token-selector {
  width: 50%;
  height: 10%;
  font-size: 2em;
  text-align: center;
  margin-top: 3%;
}

.change-game-button {
  width: 60%;
  height: 5%;
  border-radius: 10px;
}

.game-section {
  width: 70%;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button-option-section {
  width: 60%;
  height: 60%;
  font-size: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classic-button,
.twist-button {
  height: 10%;
  width: 30%;
  font-size: 1em;
  border-radius: 10px;
}

.computer-section {
  background-image: linear-gradient(white, red);
  width: 15%;
  font-size: 2em;
  text-align: center;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
