* {
  /* border: 1px solid red; */
  font-family: sans-serif;
}

body {
  width: 99vw;
  height: 97vh;
  background-color: black;
}

header {
  width: 100%;
  height: 10%;
  padding-top: .5%;
  font-size: 4em;
  text-align: center;
  background-image: linear-gradient(to right, #F0B45C, #DBDBDB, #F0B45C);
}

main {
  width: 100%;
  height: 90%;
  background-image: linear-gradient(to right, #F0B45C, #DBDBDB, #F0B45C);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.human-section,
.computer-section {
  width: 15%;
  height: 90%;
  font-size: 2em;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  padding-top: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.human-section {
  background-image: linear-gradient(white, #577EF7);
  box-shadow: 0px 0px 10px 5px #577EF7;
  border: 2px groove #577EF7;
}

.computer-section {
  background-image: linear-gradient(white, #F54545);
  box-shadow: 0px 0px 10px 5px #F54545;
  border: 2px groove #F54545;
}

.human-token-selector,
.computer-token-selector {
  width: 50%;
  height: 10%;
  font-size: 2em;
  text-align: center;
  margin-top: 3%;
}

.human-token-selector {
  background-color: #577EF7;
}

.computer-token-selector {
  background-color: #F54545;
}

.human-choice-icon,
.computer-choice-icon {
  font-size: 5em;
  margin-top: 35%;
  text-shadow: 3px 3px 2px black;
}

.human-choice-icon {
  transform: scale(-1, 1);
}

.change-game-button {
  width: 25%;
  height: 5%;
  border-radius: 10px;
}

.game-section {
  width: 70%;
  margin-top: 3%;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-option-section {
  width: 60%;
  height: 60%;
  font-size: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classic-button,
.twist-button {
  height: 10%;
  width: 30%;
  font-size: 1em;
  border-radius: 10px;
}

.classic-button {
  background-color: #5BD75B;
}

.classic-button:hover {
  background-color: #9CE59C;
}

.twist-button {
  background-image: linear-gradient(red, yellow, green);
}

.twist-button:hover {
  background-image: linear-gradient(green, yellow, red);
}

.classic-button:hover,
.twist-button:hover,
.change-game-button:hover {
  box-shadow: 2px 2px 3px black;
}

.change-game-button {
  font-size: .4em;
}

.classic-game-section,
.twist-game-section {
  width: 75%;
  height: 60%;
  display: flex;
  flex-direction :column;
  justify-content: space-around;
  align-items: center;
}

.animal-options {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-counter {
  font-size: .7em;
}

.option {
  width: 19%;
  height: 60%;
  font-size: 3.5em;
  text-shadow: 3px 3px 2px black;
  border-radius: 10px;
  background-color: #DBDBDB;
  transition: .2s;
}

.option:hover {
  transform: translateY(-9%);
  box-shadow: 2px 2px 2px black;
  background-color: #FFFFFF;
}

.human-move-to-middle {
  animation: humanMoveToMiddle 3.5s;
}

.comp-move-to-middle {
  animation: compMoveToMiddle 3.5s;
}

.hidden {
  display: none;
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity: 0}
  65% {opacity: 0}
  75% {opacity: 1}
  100% {opacity: 1}
}

@keyframes humanMoveToMiddle {
  0% {transform: translateX(0) translateY(0) scale(-1, 1)}
  30% {transform: translateX(410%) translateY(-80%) scale(-1, 1)}
  40% {transform: translateX(435%) translateY(-80%) scale(-1, 1)}
  45% {transform: translateX(410%) translateY(-80%) scale(-1, 1)}
  50% {transform: translateX(435%) translateY(-80%) scale(-1, 1)}
  70% {transform: translateX(410%) translateY(-80%) scale(-1, 1)}
  100% {transform: translateX(0) translateY(0) scale(-1, 1)}
}

@keyframes compMoveToMiddle {
  0% {transform: translateX(0) translateY(0)}
  30% {transform: translateX(-410%) translateY(-80%)}
  40% {transform: translateX(-435%) translateY(-80%)}
  45% {transform: translateX(-410%) translateY(-80%)}
  50% {transform: translateX(-435%) translateY(-80%)}
  70% {transform: translateX(-410%) translateY(-80%)}
  100% {transform: translateX(0) translateY(0)}
}
